/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@-webkit-keyframes showBlock {
  100% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
}
@-webkit-keyframes showContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideContent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock1 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 382px;
    height: 240px;
    left: 1px;
    top: 1px;
    opacity: 1;
  }
  100% {
    width: 382px;
    height: 240px;
    left: 1px;
    top: 1px;
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock2 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 383px;
    height: 119px;
    left: 384px;
    top: 1px;
    opacity: 1;
  }
  100% {
    width: 383px;
    height: 119px;
    left: 384px;
    top: 1px;
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock3 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 383px;
    height: 120px;
    left: 384px;
    top: 121px;
    opacity: 1;
  }
  100% {
    width: 383px;
    height: 120px;
    left: 384px;
    top: 121px;
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock4 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 254px;
    height: 134px;
    left: 1px;
    top: 242px;
    opacity: 1;
  }
  100% {
    width: 254px;
    height: 134px;
    left: 1px;
    top: 242px;
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock5 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 255px;
    height: 134px;
    left: 256px;
    top: 242px;
    opacity: 1;
  }
  100% {
    width: 255px;
    height: 134px;
    left: 256px;
    top: 242px;
    opacity: 0;
  }
}
@-webkit-keyframes hideBlock6 {
  0% {
    width: 766px;
    height: 375px;
    left: 1px;
    top: 1px;
  }
  80% {
    width: 255px;
    height: 134px;
    left: 512px;
    top: 242px;
    opacity: 1;
  }
  100% {
    width: 255px;
    height: 134px;
    left: 512px;
    top: 242px;
    opacity: 0;
  }
}
@font-face {
  font-family: ptsans;
  src: url(fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
  font-family: ptsans_bold;
  src: url(fonts/PT_Sans-Web-Bold.ttf);
}
@font-face {
  font-family: HelveticaNeueCyr_Light;
  src: url(fonts/HelveticaNeueCyr-Light.otf);
}
@font-face {
  font-family: ebrima;
  src: url(fonts/ebrima.ttf);
}
html {
  font-size: 16px;
}
body {
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: 50%;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.topBlock {
  width: 768px;
  height: 128px;
  margin: 0 auto;
}
.topBlock .logo {
  float: left;
  width: 53.0435%;
  padding-top: 2.720367%;
  padding-left: 8%;
}
.topBlock .logo img {
  width: 100%;
}
.topBlock .userBlock {
  float: right;
  width: 28.173913%;
  height: 76.439791%;
  background: #16161B;
  border: 1px solid rgba(42, 44, 47, 0.5);
  border-top: none;
  border-radius: 3px;
}
.topBlock .userBlock .username {
  color: #FFF;
  font-size: 13px;
  font-family: HelveticaNeueCyr_Light;
  font-style: italic;
  text-align: center;
  margin-top: 8.0256%;
}
.topBlock .userBlock .username:before {
  content: " ";
  display: inline-block;
  width: 15.12346%;
  height: 14px;
  background: url("../img/sprite.png") no-repeat 0px 4px;
  background-size: 100% auto;
  margin-right: 14px;
}
.topBlock .userBlock .username:after {
  content: " ";
  display: inline-block;
  width: 15.12346%;
  height: 14px;
  background: url("../img/sprite.png") no-repeat 0px -12px;
  background-size: 100% auto;
  margin-left: 18px;
}
.topBlock .userBlock .stat {
  color: #FFF;
  font-size: 11px;
  font-family: HelveticaNeueCyr_Light;
  text-align: center;
  margin-top: 5.2256%;
}
.topBlock .userBlock .stat .border:after {
  content: " ";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1px;
  background: #FFF;
  height: 14px;
  margin: 0 7px;
}
.topBlock .userBlock .avatar {
  width: 25%;
  height: 54%;
  margin: auto;
  margin-top: 4px;
  border-radius: 40px;
  box-shadow: 4px 11px 14px rgba(2, 2, 2, 0.9);
}
.topBlock .userBlock .avatar img {
  width: 100%;
  border: 2px solid #191719;
  border-radius: 44px;
}
.scoreBlock {
  width: 768px;
  height: 58px;
  margin: 33px auto 0px auto;
  text-align: center;
}
.scoreBlock .holder {
  display: inline-block;
}
.scoreBlock .holder .line {
  float: left;
  width: 28px;
  height: 2px;
  background: #FFF;
  margin: 42px 13px 0px 13px;
}
.scoreBlock .holder .elem {
  float: left;
}
.scoreBlock .holder .elem .date {
  font-size: 10px;
  font-family: ptsans;
  font-weight: bold;
  text-transform: uppercase;
  color: #97c631;
  letter-spacing: -1px;
}
.scoreBlock .holder .elem .score {
  position: relative;
  width: 36px;
  height: 36px;
  background: url("../img/sprite.png") no-repeat -7px -46px;
  margin: auto;
  margin-top: 10px;
}
.scoreBlock .holder .elem .score .text {
  position: absolute;
  right: -3px;
  bottom: -2px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #FFF;
  color: #000;
  font-size: 10px;
  font-family: ptsans;
  font-weight: bold;
  text-align: center;
  border: 2px solid #c13232;
  border-radius: 10px;
}
.mainHolder {
  width: 768px;
  height: 377px;
  position: relative;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  margin: 0 auto 20px auto;
  background: #cecece;
  padding: 1px 0 0 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 18px #000;
  background: url("../img/border.png");
  background-size: auto 100% ;
}
.mainHolder .block {
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
  background: #000;
  margin: 0 1px 1px 0;
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
}
.mainHolder .block:hover .bg img {
  transform: scale(1.05);
}
.mainHolder .block .bg {
  width: 100%;
  height: 100%;
}
.mainHolder .block .bg img {
  width: 100%;
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
.mainHolder .block .preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bgTexture.png");
  color: #FFF;
  font-family: ptsans_bold;
  text-align: center;
}
.mainHolder .block1 {
  width: 382px;
  height: 240px;
}
.mainHolder .block1 .title {
  display: inline-block;
  background: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  font-family: HelveticaNeueCyr_Light;
  font-style: italic;
  margin-top: 12.6%;
  padding: 1.0666667% 0px;
}
.mainHolder .block1 .score {
  width: 313px;
  height: 123px;
  font-size: 93px;
  font-family: ebrima;
  padding: 10px 0px 0px 0px;
  margin: auto;
  background: url("../img/block1Text.png") no-repeat 50% 50%;
  background-size: 100% auto;
}
.mainHolder .block1 .score .red {
  display: inline-block;
  border-bottom: 5px solid #c23a4c;
  margin-left: -10px;
  padding-bottom: 8px;
}
.mainHolder .block1 .score .blue {
  display: inline-block;
  border-bottom: 5px solid #235eb7;
  padding-bottom: 8px;
}
.mainHolder .block2 {
  width: 383px;
  height: 119px;
  line-height: 119px;
  font-size: 40px;
  text-shadow: -2px 2px 5px #55586b;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.mainHolder .block3 {
  width: 383px;
  height: 120px;
  line-height: 120px;
}
.mainHolder .block3 .place {
  float: left;
  width: 50%;
  height: 100%;
  margin-left: -10px;
}
.mainHolder .block3 .place .line {
  position: absolute;
  top: -100%;
  left: 6%;
  width: 34%;
  height: 300%;
  background: rgba(0, 0, 0, 0.7);
  transform: rotateZ(31deg);
}
.mainHolder .block3 .place .text {
  position: relative;
  z-index: 0;
}
.mainHolder .block3 .place .text .title {
  font-family: ptsans;
  font-size: 12px;
  text-transform: lowercase;
  line-height: normal;
  margin-top: 8.4%;
  margin-bottom: 2px;
}
.mainHolder .block3 .place .text .placeTitle {
  font-family: ptsans;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
  line-height: normal;
  margin-top: -8px;
}
.mainHolder .block3 .place .text .date {
  font-family: ptsans;
  font-size: 12px;
  text-transform: lowercase;
  line-height: normal;
}
.mainHolder .block3 .place .text .time {
  font-family: ptsans;
  font-size: 20px;
  text-transform: lowercase;
  line-height: normal;
}
.mainHolder .block3 .weather {
  float: left;
  width: 50%;
  height: 100%;
}
.mainHolder .block3 .weather .title {
  font-size: 12px;
  font-family: ptsans;
  text-align: center;
  text-transform: lowercase;
  line-height: initial;
  padding-top: 29px;
  padding-left: 3px;
}
.mainHolder .block3 .weather .deg {
  font-size: 32px;
  font-family: ebrima;
  line-height: initial;
  float: left;
  margin-left: 38px;
  margin-top: 2px;
}
.mainHolder .block3 .weather .deg:after {
  content: " ";
  display: inline-block;
  width: 2px;
  height: 26px;
  background: #fff;
  margin-left: 12px;
  margin-top: 9px;
}
.mainHolder .block3 .weather .icon {
  float: left;
  width: 41px;
  height: 35px;
  background: red;
  margin-top: 7px;
  margin-left: 17px;
}
.mainHolder .block4 {
  width: 254px;
  height: 134px;
  line-height: 134px;
  font-size: 24px;
  text-transform: uppercase;
}
.mainHolder .block4 .blockText {
  background: url("../img/block4Text.png") no-repeat 50% 50%;
  background-size: 100% auto;
  padding: 3.960396% 20.20997%;
}
.mainHolder .block5 {
  width: 255px;
  height: 134px;
  line-height: 134px;
  font-size: 24px;
  text-transform: uppercase;
}
.mainHolder .block5 .blockText {
  background: url("../img/block5Text.png") no-repeat 50% 50%;
  background-size: 100% auto;
  padding: 5.940594% 21.465969%;
}
.mainHolder .block6 {
  width: 255px;
  height: 134px;
  line-height: 134px;
  font-size: 24px;
  text-transform: uppercase;
}
.mainHolder .block6 .blockText {
  background: url("../img/block6Text.png") no-repeat 50% 50%;
  background-size: 100% auto;
  padding: 0px 9.399478%;
}
.mainHolder .activatedBlock .content {
  background: #000;
  color: #fff;
  width: 766px;
  height: 375px;
}
.loader {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: none;
}
.mainHolder.allClosed .activatedBlock {
  position: absolute;
  -webkit-animation: showBlock 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
  cursor: auto;
}
.mainHolder.allClosed .activatedBlock .previewHolder {
  -webkit-animation: hideContent 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
}
.mainHolder.allClosed .activatedBlock .content.showContent {
  display: block;
  -webkit-animation: showContent 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
}
.mainHolder.closeBlock .activatedBlock .content.showContent {
  -webkit-animation: hideContent 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
}
.mainHolder.closeBlock .block1.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock1 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
.mainHolder.closeBlock .block2.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock2 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
.mainHolder.closeBlock .block3.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock3 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
.mainHolder.closeBlock .block4.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock4 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
.mainHolder.closeBlock .block5.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock5 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
.mainHolder.closeBlock .block6.activatedBlock {
  position: absolute;
  -webkit-animation: hideBlock6 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
}
@media only screen and (min-width: 1200px) {
  @-webkit-keyframes showBlock {
    100% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
  }
  @-webkit-keyframes showContent {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes hideContent {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock1 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 573px;
      height: 360px;
      left: 1px;
      top: 1px;
      opacity: 1;
    }
    100% {
      width: 573px;
      height: 360px;
      left: 1px;
      top: 1px;
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock2 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 574px;
      height: 179px;
      left: 575px;
      top: 1px;
      opacity: 1;
    }
    100% {
      width: 574px;
      height: 179px;
      left: 575px;
      top: 1px;
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock3 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 574px;
      height: 180px;
      left: 575px;
      top: 181px;
      opacity: 1;
    }
    100% {
      width: 574px;
      height: 180px;
      left: 575px;
      top: 181px;
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock4 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 381px;
      height: 202px;
      left: 1px;
      top: 362px;
      opacity: 1;
    }
    100% {
      width: 381px;
      height: 202px;
      left: 1px;
      top: 362px;
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock5 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 382px;
      height: 202px;
      left: 383px;
      top: 362px;
      opacity: 1;
    }
    100% {
      width: 382px;
      height: 202px;
      left: 383px;
      top: 362px;
      opacity: 0;
    }
  }
  @-webkit-keyframes hideBlock6 {
    0% {
      width: 1148px;
      height: 563px;
      left: 1px;
      top: 1px;
    }
    80% {
      width: 383px;
      height: 202px;
      left: 766px;
      top: 362px;
      opacity: 1;
    }
    100% {
      width: 383px;
      height: 202px;
      left: 766px;
      top: 362px;
      opacity: 0;
    }
  }
  html {
    font-size: 24px;
  }
  .topBlock {
    width: 1150px;
    height: 191px;
  }
  .topBlock .userBlock .username {
    font-size: 18px;
  }
  .topBlock .userBlock .username:before {
    background-position-y: 0px;
  }
  .topBlock .userBlock .username:after {
    background-position-y: -24px;
  }
  .topBlock .userBlock .stat {
    font-size: 16px;
  }
  .topBlock .userBlock .stat .border:after {
    height: 17px;
    margin: 0 10px;
  }
  .topBlock .userBlock .avatar {
    margin-top: 22px;
  }
  .topBlock .userBlock .avatar img {
    border-width: 4px;
  }
  .scoreBlock {
    width: 1150px;
    height: 58px;
    margin: 66px auto 0px auto;
  }
  .scoreBlock .holder .line {
    width: 40px;
    height: 2px;
    margin: 51px 19px 0px 19px;
  }
  .scoreBlock .holder .elem .date {
    font-size: 12px;
  }
  .scoreBlock .holder .elem .score {
    width: 36px;
    height: 36px;
    background: url("../img/sprite.png") no-repeat -7px -46px;
    margin-top: 16px;
  }
  .scoreBlock .holder .elem .score .text {
    right: -3px;
    bottom: -2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    border: 2px solid #c13232;
    border-radius: 10px;
  }
  .mainHolder {
    width: 1150px;
    height: 565px;
    min-width: 750px;
    min-height: 370px;
  }
  .mainHolder .block1 {
    width: 573px;
    height: 360px;
  }
  .mainHolder .block1 .title {
    font-size: 24px;
  }
  .mainHolder .block1 .score {
    width: 469px;
    height: 185px;
    font-size: 140px;
  }
  .mainHolder .block2 {
    width: 574px;
    height: 179px;
    line-height: 179px;
    font-size: 60px;
  }
  .mainHolder .block3 {
    width: 574px;
    height: 180px;
    line-height: 180px;
  }
  .mainHolder .block3 .place {
    margin-left: -10px;
  }
  .mainHolder .block3 .place .text .title {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .mainHolder .block3 .place .text .placeTitle {
    font-size: 42px;
    margin-top: -8px;
  }
  .mainHolder .block3 .place .text .date {
    font-size: 18px;
  }
  .mainHolder .block3 .place .text .time {
    font-size: 30px;
  }
  .mainHolder .block3 .weather .title {
    font-size: 18px;
    padding-top: 44px;
    padding-left: 5px;
  }
  .mainHolder .block3 .weather .deg {
    font-size: 48px;
    margin-left: 54px;
    margin-top: 2px;
  }
  .mainHolder .block3 .weather .deg:after {
    width: 3px;
    height: 39px;
    margin-left: 20px;
    margin-top: 13px;
  }
  .mainHolder .block3 .weather .icon {
    width: 61px;
    height: 52px;
    margin-top: 10px;
    margin-left: 26px;
  }
  .mainHolder .block4 {
    width: 381px;
    height: 202px;
    line-height: 202px;
    font-size: 36px;
  }
  .mainHolder .block5 {
    width: 382px;
    height: 202px;
    line-height: 202px;
    font-size: 36px;
  }
  .mainHolder .block6 {
    width: 383px;
    height: 202px;
    line-height: 202px;
    font-size: 36px;
  }
  .mainHolder .activatedBlock .content {
    width: 1148px;
    height: 563px;
  }
}
